---
import Layout from '../layouts/Layout.astro';
const pageTitle = "Bytes & Musings";
---
<Layout pageTitle={pageTitle}>
    <div class="gif">
        <img width="300" height="259" alt="RaccoonSpaceGif" src="/space.webp"/>
    </div>
    <h1>Karan</h1>
    <span class="badge">Human behind a Keyboard (Code Monkey)</span>
    <h2>About</h2>
    <p>
        Hey there! I’m Karan, an average human behind a keyboard, spending way too much time taming lines of code. I like to think of myself as a digital craftsman, but let’s be honest—I’m more of a code monkey, swinging from one bug to the next in the vast jungle of tech. Currently, I’m swinging through the BTech IT program at Dr. B.C. Roy Engineering College, where I’m learning how to turn cigarettes into code and occasionally something useful.
    </p>
    <p>
        When I’m not lost in the labyrinth of loops and logic, I’m pouring my thoughts into Vichara Manjari, a blog where I let my intellectual musings run wild. From tech trends to the mysteries of the universe, nothing is off-limits. I write about anything and everything that piques my curiosity, blending wit, wisdom, and a bit of whimsy along the way.
    </p>
    <div class="center">
        <a href="/works/">
            <button class="btn">My Humble Collection of Hogged Up Storage on GitHub Servers</button>
        </a>
    </div>
    <h2>Skills</h2>
    <div class="skills center">
        <img class="skills__img" width="46" height="46" alt="C" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/c/c-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="C++" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/cplusplus/cplusplus-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="Java" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/java/java-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="Python" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/python/python-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="Matlab" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/matlab/matlab-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="MatPlotLib" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/matplotlib/matplotlib-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="Hugo" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/hugo/hugo-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="Astro" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/astro/astro-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="CSS" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/css3/css3-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="HTML" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/html5/html5-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="JavaScript" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/javascript/javascript-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="Flutter" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/flutter/flutter-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="React" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/react/react-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="Git" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/git/git-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="PHP" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/php/php-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="SQL" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/mysql/mysql-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="Arduino" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/arduino/arduino-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="RaspberryPi" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/raspberrypi/raspberrypi-original.svg"/>
    </div>
    <h2>Interests? A Bit of Everything!</h2>
    <p>
        When I’m not wrangling code or blogging, you’ll find me immersed in books that range from history to mystery, exploring random websites, or disappearing down a YouTube rabbit hole that started with a simple click. Some days, I’ll lose myself in the annals of ancient civilizations, while other days, I’m binging one anime episode after another. And let’s not forget those marathon sessions of news browsing—because who doesn’t love staying informed? My interests are as varied as they come, and I wouldn’t have it any other way.
    </p>
</Layout>

