---
import ThemeIcon from './ThemeIcon.astro';
---
<div class="navbar">
    <div class="navbar__title">
        <a href="/">Bytes & Musings</a>
    </div>
    <div class="navbar__menu">
        <a href="/works/">Blueprints</a>
        <a href="/posts/">Scriptorium</a>
        <a href="https://github.com/iCaran/astrofolio" target="_blank">Byte Vault</a>
        <ThemeIcon />
    </div>
</div>

